# telling docker we need super user access
sudo: required
services:
  - docker

before_install:
  - docker build -t cauldyclark15/onederful:v1 -f Dockerfile.dev .

script:
  - docker run cauldyclark15/onederful:v1 npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: 'us-west-1'
  app: 'onederful'
  env: 'Onederful-env'
  bucket_name: 'elasticbeanstalk-us-west-1-170254947321'
  bucket_path: 'onederful'
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: '$AWS_SECRET_KEY'
